@import 'globals';
@import 'variables';

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

.main {
    padding: 30px 100px;
}

.link {
    text-decoration: none;
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: $accent-color;
    border-radius: 0;
    color: $secondary-color;
    padding: 10px 20px;
    font-size: 24px;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-transform: none;
    align-items: center;
}

.button-back {
    
}

.button:hover {
    background-color: $primary-color;
    transition: opacity ease 0.3s;
    cursor: pointer;
}

.text-white {
    color: $secondary-color;
}

.text-black {
    color: $text-color;
}

@media (width <= 768px) {
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .main {
        font-size: 16px;
    }
  }
